* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
}

#game
{
    padding: 0;
    margin: 0;
    border: 1px solid black;
}
.tile.block
{
    border: 1px solid gray;
    background-color: rgb(218, 233, 7);
}

.tile.goal
{
    border-radius: 50%;
    background-color: green;
}
.tile.wall
{
    background-color: black;
}
.tile.player
{
    background-color: blue;
    border-radius: 50%;
}
.tile
{
    padding: 0;
    margin: 0;
    display: inline-block;
}

