* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

article,p,header
{
    margin: 1rem 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
}

.flex 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#game
{
    padding: 0;
    margin: 2rem;
    border: 1px solid black;
}
.tile.block
{
    border: 1px solid gray;
    background-color: rgb(218, 233, 7);
}

.tile.goal
{
    border-radius: 50%;
    background-color: green;
}
.tile.wall
{
    background-color: black;
}
.tile.player
{
    background-color: blue;
    border-radius: 50%;
}
.tile
{
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.tutorial-tile {
    margin: 0 1rem;
}